<%= stylesheet_link_tag 'welcome' %>

<section class="canvas">
<div>
  <h1 class="title">离思</h1>
  <p>曾经沧海难为水</p><br>
  <p>除却巫山不是云</p><br>
  <p>取次花丛懒回顾</p><br>
  <p>半缘修道半缘君</p>
  <h2 class="stamp"></h2>
</div>
</section>